@use "constantes" as c;

.body_login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: c.$stone-900;
  width: 95%;
  margin: 0 auto;
}
.alerta {
  display: block;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  color: c.$stone-100;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 50rem;
  &.error {
    background-color: c.$rojo;
  }
  &.exito {
    background-color: c.$verde;
  }
}

a {
  &.link {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
    &:hover {
      color: c.$stone-100;
    }
  }
}

.body_dashboard {
  background-color: c.$stone-900;
}
