@use "constantes" as c;
@use "utilities" as u;
.dashboard {
  @include u.md {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 10rem);
  }

  .dashboard_aside {
    background-color: c.$stone-700;
    flex-basis: 30rem;
    padding-top: 2rem;

    div {
      width: 90%;
      margin: 2rem auto;

      p {
        font-size: 2rem;
        font-weight: 700;
        text-transform: capitalize;
        color: c.$indigo;
        span {
          color: c.$stone-100;
        }
      }
      nav {
        padding: 2rem 0;
        a {
          display: block;
          padding: 1rem 2rem;
          border: 1px solid c.$stone-100;
          border-radius: 10px;
          text-align: center;
          font-weight: 900;
          color: c.$stone-100;
          text-decoration: none;
          font-size: 1.8rem;
          transition: all 0.3s ease;
          &:hover {
            color: c.$indigo;
            border-color: c.$indigo;
          }
        }
      }
    }
  }
  .dashboard_content {
    flex: 1;
    padding: 2rem;
    color: c.$stone-100;
    h1 {
      font-size: 5rem;
      font-weight: 900;
    }
  }
}

.dashboard_form {
  margin-top: 10rem;
  width: 100%;
  form {
    background-color: c.$stone-700;
    border-radius: 5px;
    padding: 4rem;
    max-width: 50rem;
    margin: 0 auto;
    div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-bottom: 2rem;
      label {
        font-size: 1.6rem;
        font-weight: 700;
      }
      input,
      textarea {
        border: none;
        padding: 1rem 2rem;
        border-radius: 5px;
      }
    }
    input[type="submit"] {
      display: block;
      width: 100%;
      font-weight: 700;
      color: c.$stone-100;
      border: 1px solid c.$stone-100;
      border-radius: 5px;
      padding: 1rem 2rem;
      margin-top: 2rem;
      background: c.$stone-700;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: c.$indigo;
        border-color: c.$indigo;
      }
    }
  }
}
