@use "constantes" as c;

.modal {
  z-index: 10;
  position: fixed;
  background-color: rgba($color: c.$stone-300, $alpha: 0.5);
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  color: c.$stone-100;
}
.modal_hidden {
  opacity: 0;

  visibility: hidden;
}
.modal_body {
  position: fixed;
  width: 90%;
  max-width: 60rem;
  padding: 5rem;
  border-radius: 10px;
  background-color: c.$stone-700;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  h4 {
    margin-top: 2rem;
    text-decoration: underline;
  }
  form {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      label {
        font-weight: 700;
        font-size: 1.6rem;
      }
      input,
      select,
      textarea {
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
      }
    }
    input[type="submit"] {
      margin-top: 2rem;
      padding: 1rem 2rem;
      border: 1px solid c.$stone-100;
      background-color: c.$stone-700;
      font-weight: 700;
      color: c.$stone-100;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        border-color: c.$indigo;
        color: c.$indigo;
      }
    }
  }
}

.modal_lista_colaborador {
  margin-top: 2rem;

  button {
    background-color: c.$indigo;
    border: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: c.$stone-100;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: darken($color: c.$indigo, $amount: 10);
    }
  }
}

.modal_alerta_colaborador {
  p {
    margin-top: 2rem;
  }
}
