$stone-900: rgba(0, 0, 0, 0.9);
$stone-700: rgba(56, 55, 55, 0.7);
$stone-500: rgba(0, 0, 0, 0.5);
$stone-100: rgba(226, 225, 225, 0.9);
$indigo: rgba(128, 129, 221, 0.973);
$rojo: rgb(150, 12, 12);
$verde: rgb(80, 107, 32);
